RewriteEngine on
RewriteRule ^home$ index.php [L]
RewriteRule ^dashboard$ dashboard.php [L]
RewriteRule ^setup-toko$ setup.toko.php [L]
RewriteRule ^setup-toko-msg!([^/]+)$ setup.toko.php?msgcode=$1 [L]
RewriteRule ^setup-promosi$ setup.promo.php [L]
RewriteRule ^setup-promosi-showmsg!([^/]+)$ setup.promo.php?msgcode=$1 [L]
RewriteRule ^detail-promosi@([^/]+)$ setup.promo.detail.php?detail=$1 [L]
RewriteRule ^detail-promosi-showmsg!([^/]+)@([^/]+)$ setup.promo.detail.php?msgcode=$1&detail=$2 [L]
RewriteRule ^setup-voucher$ setup.voucher.php [L]
RewriteRule ^setup-voucher-showmsg!([^/]+)$ setup.voucher.php?msgcode=$1 [L]
RewriteRule ^mesin-edc$ setup.edc.php [L]
RewriteRule ^setup-edc-showmsg!([^/]+)$ setup.edc.php?msgcode=$1 [L]
RewriteRule ^member-toko$ setup.member.php [L]
RewriteRule ^member-toko-showmsg!([^/]+)$ setup.member.php?msgcode=$1 [L]

RewriteRule ^list-produk$ list.produk.php [L]
RewriteRule ^detail-product@([^/]+)$ detail.product.php?rcode=$1 [L]
RewriteRule ^detail-product-showmsg!([^/]+)@([^/]+)$ detail.product.php?msgcode=$1&rcode=$2 [L]
RewriteRule ^edit-product@([^/]+)$ detail.product.php?action=edit&rcode=$1 [L]
RewriteRule ^list-user$ list.user.php [L]
RewriteRule ^list-toko$ list.toko.php [L]
RewriteRule ^print-barcode$ print.barcode.php [L]
RewriteRule ^print-price-tag$ print.price.tag.php [L]
RewriteRule ^print-price-tag@([^/]+)$ print.price.tag.php?rcode=$1 [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^register@([^/]+)$ register.detail.php?rcode=$1 [L]
RewriteRule ^register-showmsg!([^/]+)@([^/]+)$ register.detail.php?msgcode=$1&rcode=$2 [L]
RewriteRule ^sales-invoice$ sales.invoice.php [L]
RewriteRule ^sales-invoice@([^/]+)$ sales.invoice.detail.php?rcode=$1 [L]
RewriteRule ^sales-invoice-showmsg!([^/]+)@([^/]+)$ sales.invoice.detail.php?msgcode=$1&rcode=$2 [L]
RewriteRule ^laporan-sales-produk$ laporan.sales.invoice.php [L]
RewriteRule ^laporan-sales-departemen$ laporan.sales.departemen.php [L]
RewriteRule ^laporan-pembayaran$ laporan.payment.php [L]
RewriteRule ^sales-failed$ sales.list.failed.php [L]


RewriteRule ^payment-invoice$ payment.php [L]
RewriteRule ^payment-invoice@([^/]+)$ payment.detail.php?rcode=$1 [L]
RewriteRule ^daftar-kartu$ daftar.kartu.php [L]
RewriteRule ^daftar-kartu-showmsg!([^/]+)$ daftar.kartu.php?msgcode=$1 [L]
RewriteRule ^sales-departemen$ sales.departemen.php [L]
RewriteRule ^laporan$ laporan.php [L]
RewriteRule ^laporan-showmsg!([^/]+)$ laporan.php?msgcode=$1 [L]

RewriteRule ^detail-toko@([^/]+)$ detail.toko.php?rcode=$1 [L]
RewriteRule ^detail-edc@([^/]+)$ detail.edc.php?rcode=$1 [L]
RewriteRule ^detail-user@([^/]+)$ detail.user.php?rcode=$1 [L]
RewriteRule ^detail-member@([^/]+)$ detail.member.php?rcode=$1 [L]
RewriteRule ^detail-voucher@([^/]+)$ detail.voucher.php?rcode=$1 [L]

RewriteRule ^akses-user$ akses.user.php [L]
RewriteRule ^akses-user-msg!([^/]+)$ akses.user.php?msgcode=$1 [L]
RewriteRule ^profile$ profile.user.php [L]
RewriteRule ^profile-showmsg!([^/]+)$ profile.user.php?msgcode=$1 [L]

RewriteRule ^proses-login$ check.login.php [L]
RewriteRule ^proses-logout$ logout.php [L]
RewriteRule ^proses-toko$ do.proses.php?source=store [L]
RewriteRule ^proses-user$ do.proses.php?source=user [L]
RewriteRule ^proses-voucher$ do.proses.php?source=voucher [L]
RewriteRule ^proses-promo$ do.proses.php?source=promo [L]
RewriteRule ^proses-promo-detail$ do.proses.php?source=promo-detail [L]
RewriteRule ^proses-promo-pricelevel$ do.proses.php?source=promo-pricelevel [L]
RewriteRule ^proses-edc$ do.proses.php?source=edc [L]
RewriteRule ^proses-member$ do.proses.php?source=member [L]
RewriteRule ^proses-konfirm-register$ do.proses.php?source=konfirm-register [L]
RewriteRule ^update-product$ do.proses.php?source=updateproduk [L]
RewriteRule ^update-password$ do.proses.php?source=change-passworduser [L]
RewriteRule ^proses-card$ do.proses.php?source=daftarkartu [L]
RewriteRule ^proses-laporan$ do.proses.php?source=proses-laporan [L]
RewriteRule ^sinkron-master$ reproses.master.php?source=debug [L]
RewriteRule ^sinkron-price$ reproses.harga.php?source=debug [L]
RewriteRule ^sinkron-promo$ reproses.promo.php?source=debug [L]
RewriteRule ^sinkron-timbang$ reproses.item.timbang.php?source=debug [L]
RewriteRule ^reproses-sales!([^/]+)$ reproses.sales.pos.php?no_struk=$1 [L]

RewriteRule ^setup-promo-detail$ do.proses.php?source=setup-detail [L]